@use '../../style/style' as styles;

.kassa-page {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  line-height: 1.1em;
  //letter-spacing: .2rem;
  padding: 0 !important;
  & .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1050px;
    padding: 40px;
    & .info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 30px;
      &_operation {
        &_item {
          margin-bottom: 10px;
        }
        &__name {
          font-size: 18px;
          font-weight: bold;
        }
        &__button {
          height: 50px;
          width: 250px;
          color: white;
          font-size: 25px;
          font-weight: bold;
          border-radius: 8px;
          background-color: styles.$green;
          box-shadow: 0px 8px 15px -1px rgba(34, 60, 80, 0.2);
          @include styles.greenButtonWithHover;
          &.error {
            background-color: red;
            font-size: 19px;
          }
          &-container {
            margin-bottom: 0;
          }
        }
      }
      &_money {
        display: flex;
        flex-direction: row;
        text-align: right;
        &_item {
          &_label {
            margin-bottom: 10px;
          }
          &_value {
            font-size: 25px;
            font-weight: bold;
            &.actual-balance {
            }
            &.substract {
              color: styles.$pink;
            }
            &.add {
              color: styles.$blue;
            }
            &.planned-balance {
              color: black;
            }
            &.taken {
              color: styles.$green;
            }

          }
        }
        &__left-left {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-right: 20px;

        }
        &__left {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-right: 20px;

        }
        &__right {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }
    & .no_data {
      font-size: 36px;
      text-align: center;
      padding: 50px;
    }
    & .infotable {
      width: 100%;
      &_header {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        background-color: styles.$darkgray;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      & .item {
        @include styles.infoTableItem;
        }
      }
      & .name {
        width: 200px;
        font-size: 16px;
      }
      & .actual-balance {
        width: 120px;
      }
      & .substract {
        width: 120px;
      }
      & .add {
        width: 120px;
      }
      & .taken {
        width: 80px;
      }
      & .planned-balance {
        width: 120px;
        font-weight: bold;
        &.error {
          color: red;
        }
      }
    }
    & .table-error {
      margin-top: 20px;
      text-align: center;
      font-size: 30px;
      color: red;
    }
  }

}